<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <p>Team Name: <input type ="text" id="team[name]" name="team[name]"></p>
  <p>Team Motto: <input type="text" id="team[motto]" name="team[motto]"></p>

  <h2>Hero 1</h>
  <p>Hero's Name: <input type="text" id ="member1_name" name ="team[hero][][name]"> </p>
  
